.daniel-murillo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100%;
}

.daniel-murillo-container img {
    width: 200px;
    height: auto;
    border-radius:5%
}

.daniel-murillo-container img:hover {
    border: 3px solid #d0d5ff;

}

.daniel-murillo-name {
    color: #a13d3d;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    transition: transform 0.3s ease
}

.daniel-murillo-name:hover {
    color: #c00808;
    transform: scale(1.2)
}

.daniel-murillo-info {
    font-size: 16px;
    text-align: center;
    
}

.daniel-murillo-link {
    color: #bbc0ff;
    text-decoration: none;
}

.daniel-murillo-link:hover {
    color: #185dff;
    text-decoration: underline;
}